*{margin: 0px;padding: 0px;}
html,body{width: 100%;height:100%;font-family: 'Rock Salt', cursive;}
header{width: 100%;height: 10%;background-color: blueviolet;}
p{text-align: center;}
main{width: 100;height: 82%;background-color: fuchsia;text-align: center;}
footer{width: 100%;height: 8%;background-color: plum;}
article{width: 19%;height: 19%;margin:4px;}
#a1{background-color: rgb(11, 242, 60);float: left;}
#a2{background-color: rgb(22, 231, 80);float: left;}
#a3{background-color: rgb(33, 220, 100);float: left;}
#a4{background-color: rgb(44, 209, 120);float: left;}
#a5{background-color: rgb(55, 198, 140);float: left;}
#a6{background-color: rgb(66, 187, 160);float: left;}
#a7{background-color: rgb(77, 176, 180);float: left;}
#a8{background-color: rgb(88, 165, 200);float: left;}
#a9{background-color: rgb(99, 154, 220);float: left;}
#a10{background-color: rgb(110, 143, 240);float: left;}
#a11{background-color: rgb(121, 132, 255);float: left;}
#a12{background-color: rgb(132, 121, 240);float: left;}
#a13{background-color: rgb(143, 110, 220);float: left;}
#a14{background-color: rgb(154, 99, 200);float: left;}
#a15{background-color: rgb(165, 88, 180);float: left;}
#a16{background-color: rgb(176, 77, 140);float: left;}
#a17{background-color: rgb(187, 66, 120);float: left;}
#a18{background-color: rgb(198, 55, 100);float: left;}
#a19{background-color: rgb(209, 44, 80);float: left;}
#a20{background-color: rgb(220, 33, 60);float: left;}
#a21{background-color: rgb(231, 22, 40);float: left;}
#a22{background-color: rgb(242, 11, 20);float: left;}
#a23{background-color: rgb(255, 1, 2);float: left;}