*{margin: 0;
padding: 0; }

html,body{
    width: auto;
    height: 110%;
    font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
text-align: center;
color:rgb(255, 255, 255);

background-image: url(fondo5.png);
background-position:center;
background-attachment: fixed;
}



header{

    height: 10%;
    width: 100%;
    float: left;
    background-color: rgba(238, 159, 13, 0.87);
}


#logo{
    height: 100%;
    width: 20%;

    float: left;
}
#titulo{
    height: 100%;
    width: 60%;

    float: left;
}
#usuario{
    height: 100%;
    width: 80%;

    float: left;
    text-align: right;
}
#logo1{
    width: 29%;
  
    background-color: rgb(18, 116, 99);
    border: 1px solid orange;
}


#usuario1,#menu1{width: 7%;

}


main{
    
    height: 80%;
    width: 100%;
    float: left;
    ba
    
}


 article{height: 50%;
width: 50%;

float: left;}

img{
    width: 80%;
   
}



footer{
    
    height: 20%;
    width: 100%;
    float: left;
    background-color: rgba(27, 107, 87, 0.87);
    font-size: 100%;
    
}
#adv{
    width: 3%;
   
 }






.offset{box-shadow:.3em .3em 0 0 var(--color),inset .3em .3em 0 0 var(--color)}
.offset:focus,.offset:hover{box-shadow:0 0 var(--hover),inset 6em 3.5em 0 0 var(--hover)}

.offset{--color:rgb(233, 114, 17);--hover:rgb(233, 114, 17);}
.offset{background-color: rgba(150, 101, 29, 0.87);}
button{color:var(--color);transition:.25s}
button:focus,button:hover{border-color:var(--hover);color:#fff}

button{background:0 0;border:2px solid;font:inherit;line-height:1;margin:.5em;padding:1em 2em}
button{width: 60%;
height: 60%;
float: center;
}


.centrado{
    text-align: center;
    position: relative;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 80%;
}

h1{
-webkit-text-stroke: 2px black;
}
