*{
    margin: 0px;
    padding:0px;
}
html,body{
    height: 100%;
    width: 100%;
    
}

img{
    height: 10%;
    width: 10%;
    display: block;
    margin: auto;
    
}

header{
    height: 10%;
    width: 100%;
    background-color:rgb(23, 4, 201);
} 

main{
    height: 80%;
    width: 100%;
    background-color:rgb(197, 197, 9);
}

section{
    height: 100%;
    width: 100%;

}
footer{
    height: 10%;
    width: 100%;
    background-color: gray;
}
tr, th, td{
    text-align: center;
    
}
table{ 
  
    text-align: center;

}