*{margin:0px;padding:0px;}
body, html{width:100%;height:180%;}
#header{
    width:100%;
    height:10%;
    float:left;
    background-color: cyan;
}
#logo{
    height: 100%;
    width: 20%;

    float: left;
}
#titulo{
    height: 100%;
    width: 60%;

    float: left;
}
#usuario{
    height: 100%;
    width: 20%;

    float: left;
}
#logo1{
    width: 38%;
    background-color: rgb(19, 18, 75);
    border: 1px solid orange;
}
#titulo1{
    color: rgb(245, 118, 28);
    font-family: roman;
    font-size: 90px;
    background-color:rgb(19, 18, 75) ;
    border-radius: 50px ;
    border: 2px solid orange;
}

#usuario1,#menu1{width: 30%;

}
#main{
    width: 100%;
    height: 160%;
    float: left;
    background-image: url(Pprincipal/imagenes/fondo.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
#footer{
    width:100%;
    height:15%;
    float:left;
    background-color: green;
}
#s1{
    width:20%;
    height:100%;
    float:left;
    background-color: Gray;
}
#s2{
    width:60%;
    height:100%;
    float:left;
    background-color: lightgray;
}
#s3{
    width: 10%;
    height:10%;
    background-color: deeppink;

}